*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.anees{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #ffff;

}
.container{
    width: 1320px;
    max-width: 95%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #000000;
    font-size: 35px;
    letter-spacing: 2px;
    cursor: pointer;

}
span{
    color: rgb(224, 83, 83);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}
nav ul li:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color:rgb(224, 83, 83) ;
    margin: auto;
    transition-duration: .4s ;
    
}
nav ul li:hover:after{
    width: 100%;
    
}
nav ul a:hover{
    width: 100%;
    color: rgb(224, 83, 83);
    transition-duration: .4s;
    
    
    

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    padding-top: 90px ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.row h1{
    color: #000000;
    font-size: 55px;
    font-weight: 700 ;
    margin-bottom: 15px;

}
.row p{
    line-height: 1.7;
    color: #666666;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: 'Work Sans', sans-serif;
}
.row a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to left bottom, #ee0979, #fc1c62,#ff364a,#ff512f,#ffca00);
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
}
.row .btn{
    background:#efefef;
    color:#666666;
}
.row a:hover {
    transform: scale(1.1);
    transition: .4s;
}
.extra{
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    bottom: 60px;
    right: 80px;

}
.extra img:nth-child(1){
width: 130px;
position: absolute;
bottom: 0;
left: -100px;
}
.extra img:nth-child(2){
    width: 460px;

}
.extra img:nth-child(3){
    width: 150px;
    position: absolute;
    right: -80px;
    bottom: 0;

}